<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Build NodeJS AI App with</h1>
    <h1 class="display-6"><a href="https://www.datastax.com/guides/what-is-vector-search">Astra Vector Search</a>, <a href="https://github.com/stargate/data-api">Data API</a> and <a href="https://www.npmjs.com/package/@datastax/astra-mongoose">Astra-Mongoose</a></h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">DataStax</p>
    </div>
  </div>
